/*
	Author	:	Christopher Robinson
	Email		:	christopher@edg3.co.uk
	Website	:	http://www.edg3.co.uk/
*/
* {
  border: 0;
  margin: 0;
  padding: 0;
}

/* general */
a {
  color: #777;
  text-decoration: none;
}

a:hover {
  color: #333;
  text-decoration: none;
}

/* body */
body {
  background: #ffffff;
  color: #555;
  font: 0.8em Arial, Helvetica, "bitstream vera sans", sans-serif;
}

/* header */
#header {
  /* border-bottom:1px solid #999; */
  height: 80px;
  margin: 0 auto;
  width: 1500px;
}
#header h1 {
  color: #2952a3;
  font-size: 300%;
  letter-spacing: -3px;
  text-align: right;
  padding: 5px;
  margin-bottom: -20px;
}
#header h2 {
  color: rgb(153, 52, 236);
  font-size: 200%;
  letter-spacing: -2px;
  text-align: right;
}

/* navigation */
#navigation {
  font-weight: bold;
  background: linear-gradient(to right, #006699 0%, #9966ff 100%);
  border-right: 1px solid #999;
  margin: 0 auto;
  width: 1500px;
  height: 40px;
  list-style: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#navigation li {
  border-left: 1px solid #999;
  float: left;
  width: 110px;
  list-style: none;
}
#navigation a {
  color: #f2f2f2;
  display: block;
  line-height: 40px;
  text-align: center;
}
#navigation a:hover {
  background: #e3e3e3;
  color: #555;
}
#navigation .active {
  background: #e3e3e3;
  color: #777;
}

/* content */
#content {
  height: auto;
  margin: 0 auto;
  padding: 0 0 20px;
  width: 1500px;
}
#content h1 {
  /* border-bottom:1px dashed #999; */
  font-size: 1.8em;
  padding: 20px 0 0;
}
#content p {
  padding: 20px 20px 0;
}

/* footer */
#footer {
  border-top: 2px solid #8a2be2;
  height: 50px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  width: 1500px;
  font-weight: bold;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(178, 151, 228, 1) 30%,
    rgba(126, 255, 228, 1) 89%,
    rgba(255, 255, 255, 1) 100%
  );
}

/* Added by Larry Ullman: */
.error,
.ad {
  font-weight: bold;
  color: #c00;
}

input,
select,
.input {
  padding: 5px;
  font-weight: bold;
  font-size: 1em;
  color: #008040;
  background: #ffffff;
  border: 1px solid #004080;
}
#_f {
  width: 400px;
}
